[submodule "libs/human_body_prior"]
	path = libs/human_body_prior
	url = https://github.com/RobinWitch/human_body_prior.git
[submodule "libs/HumanML3D"]
	path = libs/HumanML3D
	url = https://github.com/EricGuo5513/HumanML3D.git
[submodule "libs/OpenTMA"]
	path = libs/OpenTMA
	url = https://github.com/RobinWitch/OpenTMA.git
