torch
loguru
tqdm
smplx
torchvision
soundfile
lmdb
librosa
PyYAML
wandb
tensorboard
pynvml
matplotlib
configargparse
pandas
opencv-python
fasttest
IPython
h5py
einops
git+https://github.com/openai/CLIP.git
textgrid
termcolor
transformers
gdown